.item_card{
    position: relative;
    background: white;
    border-radius: 17px;
    max-width: 280px;
    max-height: 600px;
    border: 1px solid gainsboro;
}

.item_information{
    display: flex;
    flex-direction: column;
}

.item_image{
    border-radius: 16px;
    width: 280px;
    height: 370px;
    background: white;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.126);
}

.item_image img{
    width: inherit;
    height: inherit;
    object-fit: contain;
    border-radius: 12px 12px 0 0;
    transition: all 500ms ease;
}




.item_text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 170px;
    color: black;
    font-family: "KOT Eitai";
    font-weight: bold;
}

.item_text h1{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.itemPrice{
    margin: 0;
    position: absolute;
    color: white;
    padding: 7px 15px;
    border-radius: 32px;
    top: 10px;
    left: 10px;
    font-family: "KOT Eitai";
    font-size: "11px";
    background: linear-gradient(45deg, #004165,#0083CB);
}

.storageCount{
    font-size:12px;
    font-weight:500;
    display: flex; 
    margin: 0;
    margin-bottom: 5px;
    color: inherit;
    font-family: inherit;
}


.addCartButton, .cartCountButtons{
    margin-top: auto;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
    outline: 0;
    border: 0;
    border: 1px solid gainsboro;
    height: 30px;
    width: 100%;
    padding: 5px 0;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    transition: all 300ms ease;
}

.addCartButton svg{
    max-width: max-content;
    max-height: 30px;
}

.addCartButton:hover{
    background: #0083CB;
    border-color: #0083CB;
    color: white;
}

.cartCountButtons{
    background: linear-gradient(45deg, #004165,#0083CB);
    border-color: #0083CB;
    color: white;
    gap: 10px;
    cursor: auto;
}

.cartCountButtons button{
    height: 80%;
    width: 30%;
    background: none;
    outline: none;
    border: 0;
    background: white;
    border-radius: 4px;
    font-size: calc(0.5vw + 14px);
    transition: all 300ms ease;
    cursor: pointer;
    &:hover{
        background: #eaeaea;
    }
}

.cartCountButtons span{
    width: 60px;
    text-align: center;
}

.item_card .favours{
    z-index: 800;
    position: absolute;
    max-width: 30px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    fill: white;
    stroke:black ;
    transition: all 300ms ease;

}

.item_card .favours.active{
    fill: red;
    stroke: red;
    animation: sendToFavour 200ms ease forwards;
}

@keyframes sendToFavour {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

