.filtersContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.filter{
    max-width: 380px;
    max-height: 50px;
    width: 100%;
    position: relative;
}

.filterField{
    background: white;
    color: black;
    border-radius: 32px;
    padding: 9px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.filterField span, .filterField p{
    font-weight: 300;
}


.filterField p{
    margin: 0;
    font-size: 16px;
}

.filterField img{
    cursor: pointer;
}

.filterOption{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    color: black;
    background: white;
    z-index: 9999;
    list-style: none;
    padding: 0px;
    margin: 0;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.400);
}

.optionBG{
    display: flex;
    justify-content: space-between;
}

.option{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px; 
    padding: 10px;
    margin: 5px 5px;
    cursor: pointer;
    &:hover{
        background: gainsboro;
    }
}

.closeButton{
    background: linear-gradient(45deg, #004165,#0083CB);
    color: white;
    border-radius: 32px;
    cursor: pointer;
    z-index: 999;
}

.chevron{
    transition: all 300ms ease;
}

.chevron.active{
    transform: rotate(180deg);
}